.card{
   
    border:none;
    width:50vw;
    padding:40px;
    position:absolute;
    top:60%;
    left:50%;
    transform:translate(-50%,-50%);
    background:hsla(205,46%,30%,1);
    background:linear-gradient(90deg,rgb(51, 125, 177)0%,rgb(14, 138, 180)100%);
}
.card  h1{
    color:#fff;
}


